@model ClinicaMed.Models.Processo

@{
    ViewData["Title"] = "Detalhes do Processo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.IdPro</dd>

        <dt class="col-sm-2">Id Interno</dt>
        <dd class="col-sm-10">@Model.IdInterno</dd>

        <dt class="col-sm-2">Data de Criação</dt>
        <dd class="col-sm-10">@Model.DataCriacao</dd>

        <dt class="col-sm-2">Data de Início</dt>
        <dd class="col-sm-10">@Model.DataInicio</dd>

        <dt class="col-sm-2">Data de Término</dt>
        <dd class="col-sm-10">@Model.DataTermino</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado</dd>

        <dt class="col-sm-2">Examinando</dt>
        @if(Model.ExaminandoIdExa == null)
        {
            <dd class="col-sm-10">Não Atribuido</dd>
            <div>
                <a asp-action="Create" asp-controller="Examinando" class="btn btn-success">Criar Novo Examinando</a>
                <a asp-action="Index" asp-route-id="Examinando" class="btn btn-primary">Associar Examinando Existente</a>
            </div>
        }
        else
        {
            <span>@Model.Examinando.Nome @Model.Examinando.Apelido</span>
            <div>
                <a asp-action="Details" asp-controller="Examinando" asp-route-id="@Model.ExaminandoIdExa" class="btn btn-info">Ver Detalhes do Examinando</a>
            </div>
        }

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
