@model ClinicaMed.Models.Processo

@{
    ViewData["Title"] = "Detalhes do Processo";
    var medicosSelectList = ViewData["Medicos"] as SelectList;
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.IdPro</dd>

        <dt class="col-sm-2">Id Interno</dt>
        <dd class="col-sm-10">@Model.IdInterno</dd>

        <dt class="col-sm-2">Data de Criação</dt>
        <dd class="col-sm-10">@Model.DataCriacao</dd>

        <dt class="col-sm-2">Data de Início</dt>
        <dd class="col-sm-10">@Model.DataInicio</dd>

        <dt class="col-sm-2">Data de Término</dt>
        <dd class="col-sm-10">@Model.DataTermino</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado</dd>

        <dt class="col-sm-2">Examinando</dt>
        <!--Caso o examinando não esteja associado-->
        @if(Model.ExaminandoIdExa == null)
        {
            <dd class="col-sm-10">Não Atribuido</dd>
            <div>
                <a asp-action="Create" asp-controller="Examinando" asp-route-processoId="@Model.IdPro" class="btn btn-success">Criar Novo Examinando</a>
                <a asp-action="Index" asp-controller="Examinando" asp-route-processoId="@Model.IdPro" class="btn btn-primary">Associar Examinando Existente</a>
            </div>
        }
        else
        {
            <dd class="col-sm-10">@Model.Examinando.Nome @Model.Examinando.Apelido</dd>
            <div>
                <a asp-action="Details" asp-controller="Examinando" asp-route-id="@Model.ExaminandoIdExa" class="btn btn-info">Ver Detalhes do Examinando</a>
            </div>
        }

        <dt class="col-sm-2">Requisitante</dt>
        <!--Caso o requisitante não esteja associado-->
        @if(Model.RequisitanteIdReq == null)
        {
            <dd class="col-sm-10">Não Atribuido</dd>
            <div>
                <a asp-action="Create" asp-controller="Requisitante" asp-route-processoId="@Model.IdPro" class="btn btn-success">Criar Novo Requisitante</a>
                <a asp-action="Index" asp-controller="Requisitante" asp-route-processoId="@Model.IdPro" class="btn btn-primary">Associar Requisitante Existente</a>
            </div>
        }
        else
        {
            <dd class="col-sm-10">@Model.Requisitante.Nome @Model.Requisitante.Apelido</dd>
            <div>
                <a asp-action="Details" asp-controller="Requisitante" asp-route-id="@Model.RequisitanteIdReq" class="btn btn-info">Ver Detalhes do Requisitante</a>
            </div>
        }
        <dt class="col-sm-2">Médicos associados: </dt>
        <!--For each de cada médico associado, apresentar o seu nome com dd-->
        <dd class="col-sm-10">
            @foreach(var medico in Model.ListaProceColab.Select(pc => pc.Colaborador))
            {
               <div>@medico.Nome @medico.Apelido</div>
            }
        </dd>
        
        <!--Caso o utilizador logado seja Administrador ou Administrativo, pode associar um médico ao processo-->
        @if (User.IsInRole("Administrador") || User.IsInRole("Administrativo"))
        {
            <div>
                <h4>Associar Médico</h4>
                <!--Verifica se o médico já foi associado antes-->
                <!--Caso exista uma mensagem de erro a ser passada pelo controller, deve alertar o utilizador-->
                @if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">
                        @ViewData["ErrorMessage"]
                    </div>
                }
                <form asp-action="AssociateMedico">
                    <input type="hidden" name="processoId" value="@Model.IdPro" />
                    <div class="form-group">
                        <label class="control-label">Selecione um Médico</label>
                        <select name="medicoId" asp-items="medicosSelectList" class="form-control"></select>
                    </div>
                    <button type="submit" class="btn btn-primary">Associar</button>
                </form>
            </div>    
        }


        <!--Associar receitas ao processo-->
        <!-- Associar receitas ao processo -->
        <dt class="col-sm-2">Receitas associadas:</dt>
        <dd class="col-sm-10">
            @foreach (var receita in Model.ListaReceita)
            {
                <div>
                    <a asp-action="Details" asp-controller="Receita" asp-route-id="@receita.IdRec" class="btn btn-link">@receita.NumReceita</a>
                    - @receita.DataReceita.ToShortDateString()
                </div>
            }
        </dd>

        @if (User.IsInRole("Administrador") || User.IsInRole("Administrativo"))
        {
            <div>
                <h4>Criar Receita</h4>
                <a asp-action="Create" asp-controller="Receita" asp-route-processoId="@Model.IdPro" class="btn btn-success">Criar Nova Receita</a>
            </div>
        }
        

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
</div>
