@model ClinicaMed.Models.Receita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumReceita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReceita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReceita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processo.IdPro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Apelido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRec">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
