@model IEnumerable<ClinicaMed.Models.Receita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumReceita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReceita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumReceita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReceita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processo.IdPro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Apelido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRec">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRec">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRec">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
